inventory
minecraft/world*
minecraft/eula.txt
minecraft/spigot.jar
minecraft/usercache.json
minecraft/plugins/floodgate/Geyser-Spigot/*
minecraft/plugins/Geyser-Spigot.jar
minecraft/plugins/floodgate-spigot.jar
minecraft/logs/latest.log
minecraft/plugins/Geyser-Spigot/locales/en_us.hash
minecraft/plugins/Geyser-Spigot/locales/en_us.json
minecraft/plugins/PluginMetrics/config.yml
minecraft/help.yml
minecraft/commands.yml
minecraft/permissions.yml
minecraft/plugins/floodgate/key.pem
