inventory
world*
eula.txt
spigot.jar
usercache.json
plugins/floodgate/Geyser-Spigot/*
plugins/Geyser-Spigot.jar
plugins/floodgate-spigot.jar
logs
plugins/Geyser-Spigot/locales/en_us.hash
plugins/Geyser-Spigot/locales/en_us.json
plugins/PluginMetrics/config.yml
help.yml
commands.yml
permissions.yml
plugins/floodgate/key.pem
version_history.json
papermc.jar
backup
cache